@media (min-width: 1024px) {
    .movie-feature-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 32px;
    }
}

@media (max-width: 1023px) {
    .movie-feature-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
    }
}