@import url('https://fonts.googleapis.com/css?family=Alata|Luckiest+Guy&display=swap');

.movie-nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 95vw;
    padding: 16px 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.1);
}

.movie-nav-logo {
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
}

.movie-nav-menu-container {
    display: flex;
    font-family: 'Alata', sans-serif;
}

.movie-nav-menu {
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    margin: 0 8px;
}

.movie-nav-menu:hover, .movie-nav-menu-active {
    border-bottom: 2px solid whitesmoke;
}