.movie-popular-header {
    font-family: 'Sniglet', cursive;
    font-size: 32px;
    font-weight: 700;
    color: whitesmoke;
    text-transform: uppercase;
    margin-top: 24px;
    text-align: center;
}